includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 8
    tmpDir: .phpstan-cache
    parallel:
        maximumNumberOfProcesses: 1
        minimumNumberOfJobsPerProcess: 1
